html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #444;
}

body {
  padding-bottom: 20px;
}

h1 {
  font-weight: normal;
  display: inline-block;
  margin: 0;
  font-size: 1.4rem;
}

h1 small {
  font-size: .7rem;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  vertical-align: super;
  margin-left: 5px;
}

h2 {
  font-size: 2rem;
  font-family: Arvo, Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: #373A3C;
}

h3 {
  font-size: 1.4rem;
  font-family: Arvo, Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: #373A3C;
}

.navbar {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
}

.navbar a {
  color: #FFF;
}

.navbar i {
  font-size: 1.4rem;
}

.container {
  padding: 0 20px;
}

.badge {
  font-size: 0.7rem;
  display: inline-block;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 3px 10px;
}

.products {
  overflow: hidden;
}

.products li {
  float: left;
  width: 33%;
}

@media (max-width: 767px) {
  .products li {
    width: 100%;
  }
}

.bg-main {
  background: #4AD988;
}

.bg-sub {
  background: #BDEDF2;
}

.bg-accent {
  background: #04C4D9;
}

.bg-white {
  background: #FFF;
}

.hidden {
  display: none;
}

.tab {
  border-bottom: 1px solid #E3E3E3;
}

.tab-item {
  display:  inline-block;
  padding: 10px;
  color: #4AD988;
  text-decoration: none;
  font-family: monospace;
}

.tab-item.active {
  border: 1px solid #E3E3E3;
  background: #FFF;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
  color: inherit;
}

.tab-content {
  padding: 15px 0;
}

.tab-content :not(.active) {
  display: none;
}

.tab-content textarea {
  width: 100%;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 0.8rem;
}

#period input {
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  height: 2rem;
  padding: 0 10px;
}

#period input:first-child {
  margin-right: 10px;
}

#period input:last-child {
  margin-left: 10px;
}

.expression {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px -10px;
}

.expression select,
.expression input {
  margin: 0 10px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  height: 2rem;
  padding: 0 10px;
}

.expression button {
  border-radius: 50%;
  border: 1px solid #E3E3E3;
  background: #FFF;
  text-align: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.expression button:hover:not([disabled]) {
  background: #373A3C;
  border-color: #373A3C;
  color: #FFF;
}

.expression button:first-child {
  margin-right: 5px;
}

.expression .btn-group {
  margin: 0 10px;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes flush {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
